Odd or even number

In [ ]:
num = int(input("Enter a number:"))

if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter a number:35
The number is odd

Give 3 numbers, find the largest

In [ ]:
a = int(input("Enter number a:"))
b = int(input("Enter number b:"))
c = int(input("Enter number c:"))

if a>b and a>c:
    print(f"{a} is the largest number")
elif a<b and b>c:
    print(f"{b} is the largest number")
else:
    print(f"{c} is the largest number")

Enter number a:12
Enter number b:56
Enter number c:43
56 is the largest number


Is this year a leap year?

In [ ]:
y = int(input("Please enter a year: "))

if y % 4 == 0 :
  print(f"This year, {y}, is a leap year")
else:
  print(f"This year, {y}, is not a leap year")

Please enter a year: 2024
This year, 2024, is a leap year

Is user able to vote? 18+

In [ ]:
age = int(input("Please enter your age:"))

if age > 18:
    print("You are old enough, go ahead and vote")
else:
    print("You are not old enough to vote")

Please enter your age:12
You are not old enough to vote

is a celsius temp hot(>30), cold(<15), or middle

In [ ]:
temp = int(input("What is the current temperature in celsius?"))

if temp > 30:
    print(f"The current temperature is {temp}, it is hot.")
elif temp < 15:
    print(f"The current temperature is {temp}, it is cold.")
else:
    print(f"The current temperature is {temp}, it is moderate")

What is the current temperature in celsius?1
The current temperature is 1, it is cold.

print all even numbers upto 50 using for loop

In [ ]:
for i in range(0,51,2): ## need the i to show every row --  add 2 as the third number to show the number of steps
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

prints times tables for numbers 1-10

In [ ]:
a = 1

while a < 10:
  for i in range(1,11):
    print(a*i)
  a += 1 ## needed on same indent as 'for' to show this is part of the main loop and not the smaller loop

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90

calc sum of all numbers upto a random number from the user

In [ ]:
n = int(input("Please enter a number:"))

sum = 0

while n > 0:
  num = n % 10
  sum += num
  n //= 10

print(sum)

Please enter a number:234
9

enter numbers using -1 as the signal to stop and then sum all the numbers written

In [ ]:
n = int(input("please enter a number:"))

sum = 0

while n != -1:
  sum += n
  n = int(input("please enter a number:")) ## need to re-enter this hearto show it needs to be looped

print(sum)

please enter a number:21
please enter a number:34
please enter a number:65
please enter a number:-1
120

fibonacci upto a random number

In [ ]:
a = 0
b = 1

n = int(input("Please enter a number to stop at:"))

for _ in range (n):
    sum = a + b
    a, b = b, sum
    print(sum) ## keep this in the loop so every number in the sequence is printed

Please enter a number to stop at:10
1
2
3
5
8
13
21
34
55
89

3 password attempts and then "Access denied"

In [ ]:



def entry():
  max_attempts = 2
  attempts = 0
  while attempts <= max_attempts:
    pin = input("Please enter your password:")
    if pin == 'hello':
        print("Correct, starting your device now")
        return pin
    elif attempts >= max_attempts:
        print("Access denied")
        return pin
    else:
        print("Password incorrect, please try again")
        attempts += 1

entry()

Please enter your password:de
Password incorrect, please try again
Please enter your password:rf
Password incorrect, please try again
Please enter your password:rt
Access denied

'rt'

find all primes 1-100 using loops

In [19]:
for i in range(2,101):
  prime = True
  for j in range(2,i): ## checks if the numbers are divisible by all numbers between 2 and the current digit -- if this is true it won't be prime so will be skipped
    if (i % j == 0):
      prime = False
  if prime == True:
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

count digits in a number

In [20]:
n = int(input("Please enter a number: "))

digits = 0

while n > 0:
  n //= 10
  digits += 1 ## for every digit that gets removed from the number, digits gets + 1

print(digits)

Please enter a number: 23345676
8

asks for a number and gives error if answer isnt numerical

In [28]:
n = input("Please enter a number: ")

if n.isdigit():
  print("This is a number")
elif n.isdecimal():
  print("This is a number")
else:
  print("Error, this is not a numerical value")
        ### need to ask about adding negative numbers

Please enter a number: ello
Error, this is not a numerical value

mod division program to handle ZeroDivisionError and display message instead of crashing

In [31]:
n = int(input("Please enter a number:"))

b = int(input("Please enter a number to divide by:"))

try:
  print(n/b)
  if b == 0:
    print("Error cannot divide by zero")
except ZeroDivisionError: ## need to add an except to show that it needs to replace the ZeroDivisionError and still run the equation
  print("Error cannot divide by zero")

Please enter a number:4
Please enter a number to divide by:0
Error cannot divide by zero

BONUS:
1-50
/3 = 'fizz'
/5 = 'buzz
/3 and /5 = 'fizzbuzz'

In [34]:
for i in range(0,51):
  if i % 3 == 0:
    print(f"{i} ='fizz'")
  elif i % 5 == 0:
    print(f"{i} ='buzz'")
  elif i % 3 == 0 and i % 5 == 0:
    print(f"{i} ='fizzbuzz'")
  else:
    print(f"{i} is not divisible by 3 or 5")

0 ='fizz'
1 is not divisible by 3 or 5
2 is not divisible by 3 or 5
3 ='fizz'
4 is not divisible by 3 or 5
5 ='buzz'
6 ='fizz'
7 is not divisible by 3 or 5
8 is not divisible by 3 or 5
9 ='fizz'
10 ='buzz'
11 is not divisible by 3 or 5
12 ='fizz'
13 is not divisible by 3 or 5
14 is not divisible by 3 or 5
15 ='fizz'
16 is not divisible by 3 or 5
17 is not divisible by 3 or 5
18 ='fizz'
19 is not divisible by 3 or 5
20 ='buzz'
21 ='fizz'
22 is not divisible by 3 or 5
23 is not divisible by 3 or 5
24 ='fizz'
25 ='buzz'
26 is not divisible by 3 or 5
27 ='fizz'
28 is not divisible by 3 or 5
29 is not divisible by 3 or 5
30 ='fizz'
31 is not divisible by 3 or 5
32 is not divisible by 3 or 5
33 ='fizz'
34 is not divisible by 3 or 5
35 ='buzz'
36 ='fizz'
37 is not divisible by 3 or 5
38 is not divisible by 3 or 5
39 ='fizz'
40 ='buzz'
41 is not divisible by 3 or 5
42 ='fizz'
43 is not divisible by 3 or 5
44 is not divisible by 3 or 5
45 ='fizz'
46 is not divisible by 3 or 5
47 is not divisible by 3 or 5
48 ='fizz'
49 is not divisible by 3 or 5
50 ='buzz'